<div class="container bg-base-200 rounded-lg shadow-lg p-0 mx-auto max-w-6xl mb-10">
  <div class="bg-maroon text-white p-4 rounded-t-lg w-full">
    <h1 class="text-2xl font-bold">Upload Digital Signature</h1>
  </div>

  <div class="p-6 space-y-8">
    <div *ngIf="hasUploadedSignature && !isUpdatingSignature; else uploadForm">
      <p class="text-lg font-bold">Your Uploaded Signature:</p>
      <img [src]="getSignatureImageURL()" alt="Uploaded Signature" class="w-32 h-32 border border-gray-300 rounded">
      <div class="mt-4">
        <button (click)="startUpdatingSignature()" class="btn btn-save">Update Signature</button>
      </div>
    </div>

    <ng-template #uploadForm>
      <form [formGroup]="signatureForm" (ngSubmit)="onSave()">
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <div class="form-control w-full">
            <label for="signatureImage" class="label-text font-bold text-lg">Signature</label>
            <p class="text-sm text-gray-600 mb-2">Please upload your digital signature in JPEG format. The file size should be less than 100kb.</p>
            <input type="file" id="signatureImage" (change)="onFileSelected($event)" class="file-input input-bordered w-full" accept="image/jpeg">
          </div>
        </div>

        <div class="flex justify-end mt-6 space-x-4">
          <button type="submit" class="btn btn-save">Save</button>
          <button type="button" class="btn btn-error" (click)="onCancelUpdate()" *ngIf="isUpdatingSignature">Cancel</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>

<div *ngIf="showToast" class="toast toast-end">
  <div *ngIf="toastType === 'success'" class="alert alert-success">
    <span>{{ toastMessage }}</span>
  </div>
  <div *ngIf="toastType === 'error'" class="alert alert-error">
    <span>{{ toastMessage }}</span>
  </div>
  <div *ngIf="toastType === 'warning'" class="alert alert-warning">
    <span>{{ toastMessage }}</span>
  </div>
</div>
