<div class="overflow-x-auto px-10">
  <div class="flex-1 mb-2">
    <a class="text-lg font-normal">You are currently viewing the lists of Employees.</a>
  </div>
  <table class="table table-zebra w-full border-separate border-spacing-0">
    <!-- head -->
    <thead>
      <tr class="bg-red-900 text-white">
        <th class="p-4">#</th>
        <th class="p-4">Name</th>
        <th class="p-4">Position</th>
        <th class="p-4">Office</th>
        <th class="p-4">Age</th>
        <th class="p-4">Start Date</th>
        <th class="p-4">Salary</th>
        <th class="p-4 w-36">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="p-4">1</th>
        <td class="p-4">Jane Doe</td>
        <td class="p-4">Software Engineer</td>
        <td class="p-4">New York</td>
        <td class="p-4">28</td>
        <td class="p-4">2019-01-12</td>
        <td class="p-4">$120,000</td>
        <td class="p-4">
          <button class="btn btn-primary btn-sm">View Info</button>
        </td>
      </tr>
      <tr>
        <th class="p-4">1</th>
        <td class="p-4">Jane Doe</td>
        <td class="p-4">Software Engineer</td>
        <td class="p-4">New York</td>
        <td class="p-4">28</td>
        <td class="p-4">2019-01-12</td>
        <td class="p-4">$120,000</td>
        <td class="p-4">
          <button class="btn btn-primary btn-sm">View Info</button>
        </td>
      </tr>
      <tr>
        <th class="p-4">1</th>
        <td class="p-4">Jane Doe</td>
        <td class="p-4">Software Engineer</td>
        <td class="p-4">New York</td>
        <td class="p-4">28</td>
        <td class="p-4">2019-01-12</td>
        <td class="p-4">$120,000</td>
        <td class="p-4">
          <button class="btn btn-primary btn-sm">View Info</button>
        </td>
      </tr>
      <tr>
        <th class="p-4">1</th>
        <td class="p-4">Jane Doe</td>
        <td class="p-4">Software Engineer</td>
        <td class="p-4">New York</td>
        <td class="p-4">28</td>
        <td class="p-4">2019-01-12</td>
        <td class="p-4">$120,000</td>
        <td class="p-4">
          <button class="btn btn-primary btn-sm">View Info</button>
        </td>
      </tr>
      <tr>
        <th class="p-4">1</th>
        <td class="p-4">Jane Doe</td>
        <td class="p-4">Software Engineer</td>
        <td class="p-4">New York</td>
        <td class="p-4">28</td>
        <td class="p-4">2019-01-12</td>
        <td class="p-4">$120,000</td>
        <td class="p-4">
          <button class="btn btn-primary btn-sm">View Info</button>
        </td>
      </tr>
      <!-- More rows as needed -->
    </tbody>
  </table>
</div>
