<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<div class="min-h-screen bg-red-700 flex items-center justify-center">
  <div class="flex flex-1 items-center justify-center bg-red-700 max-w-5xl">
    <div class="flex-1 flex items-center justify-center bg-red-700 p-6">
      <div class="bg-white rounded-lg shadow-lg p-5 w-full h-full flex items-center justify-center">
        <div>
          <img src="assets/loginAsset.svg" alt="PUP Campus" class="max-w-full h-auto rounded-lg">
          <p class="text-center font-bold mt-4">Polytechnic University of the Philippines - Taguig</p>
        </div>
      </div>
    </div>
    <div class="flex-1 flex items-center justify-center bg-red-700 p-4">
      <div class="bg-white rounded-lg shadow-lg p-16 w-full h-full flex items-center justify-center">
        <div class="w-full">
          <!-- PUP Logo and Title -->
          <div class="flex items-center justify-center mb-4">
            <img src="assets/PUPLogo.svg" alt="PUP Logo" class="w-14 h-14 mr-4">
            <h1 class="text-4xl font-bold text-black">PUP TAGUIG HRIS</h1>
          </div>
          <!-- Forgot Password Section -->
          <div class="flex items-center justify-center mt-6">
            <h2 class="text-3xl font-bold ml-4">Forgot Password</h2>
          </div>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
            <div *ngIf="errorMessage" class="bg-red-100 text-red-700 p-2 mb-4 rounded">
              <p>{{ errorMessage }}</p>
            </div>
            <div class="form-control mb-4">
              <label class="label">
                <span class="label-text text-lg">
                  <i class="fas fa-envelope"></i> Email
                </span>
              </label>
              <input type="email" name="email" formControlName="email" placeholder="Input your Email..." class="input input-bordered w-full">
              <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-red-600">
                <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required</small>
                <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email</small>
              </div>
            </div>
            <button type="submit" class="btn btn-block text-white" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
            <div class="flex justify-center pt-4 mb-4">
              <a routerLink="/login" class="text-blue-500 hover:underline">Back to Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
