* {
  font-family: 'Poppins', sans-serif;
}

ul.menu li a.active {
  background-color: #1c1b1b; 
  color: #ffffff; 
  border-radius: 0.5rem; 
}

.flex-grow {
  flex: 1;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-section {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 50px; 
  height: auto;
}

.ml-4 {
  margin-left: 1rem;
}

.text-2xl {
  font-size: 1.5rem; 
}

.font-bold {
  font-weight: bold;
}

/* Highlight active link */
.sidebar-link.active {
  background-color: #1c1b1b; /* Adjust as needed */
  color: #ffffff; /* Adjust as needed */
}

/* Subcategory highlight */
ul ul a.active {
  background-color: #1c1b1b; /* Adjust as needed */
  color: #ffffff; /* Adjust as needed */
}

/* Highlight parent item */
li.active > a {
  background-color: #1c1b1b; /* Adjust as needed */
}


