<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
<ul class="menu bg-red-900 text-base-content text-white text-xl space-y-6 min-h-full w-80 p-6">
    <div class="logo-section flex items-center p-6">
      <img src="assets/PUPLogo.svg" alt="Logo" class="logo">
      <h1 class="text-xl font-bold text-white ml-4">PUP TAGUIG HR INFO SYSTEM</h1>
    </div>  
    <!-- Sidebar content here --> 
    <li>
      <a id="dashboard" class="sidebar-link" routerLink="/dashboard" (click)="setActive('dashboard')"
      [class.active]="activeItem === 'dashboard'"><i class="fa fa-th-large mr-3" aria-hidden="true"></i>Dashboard</a>
    </li>
    
    <li *ngIf="role === 'admin'">
      <a id="employees" class="sidebar-link" routerLink="/employees" (click)="setActive('employees')"
      [class.active]="activeItem === 'employees'"><i class="fas fa-users mr-3"></i>Employees</a>
    </li>

    <li *ngIf="role === 'faculty' || role === 'staff' || role === 'admin'">
      <a id="print-pds" class="sidebar-link" routerLink="/print-pds" (click)="setActive('print-pds')"
      [class.active]="activeItem === 'print-pds'"><i class="fas fa-print mr-3"></i>Print PDS</a>
    </li>

    <li *ngIf="role === 'admin'">
      <a id="new-account" class="sidebar-link" routerLink="/new-account" (click)="setActive('new-account')"
      [class.active]="activeItem === 'new-account'"><i class="fas fa-print mr-3"></i>New Account</a>
    </li>

    <li>
      <a id="my-profile" class="sidebar-link" (click)="toggleProfileDropdown()"
      [class.active]="activeItem.startsWith('my-profile')">
      <i class="fas fa-user mr-3"></i>My Profile
      <i [ngClass]="isProfileDropdownOpen ? 'fas fa-chevron-up' : 'fas fa-chevron-down'" class="ml-auto"></i>
          </a>
          <ul *ngIf="isProfileDropdownOpen" class="ml-6 mt-2 space-y-4 text-lg">
            <li><a routerLink="/personal-info" (click)="setActive('personal-info')"
              [class.active]="activeItem === 'personal-info'">Personal Information</a></li>
            <li><a routerLink="/educational-background" (click)="setActive('educational-background')"
              [class.active]="activeItem === 'educational-background'">Educational Background</a></li>
            <li><a routerLink="/family-background" (click)="setActive('family-background')"
              [class.active]="activeItem === 'family-background'">Family Background</a></li>
            <li><a routerLink="/children" (click)="setActive('children')"
              [class.active]="activeItem === 'children'">Children</a></li>
            <li><a routerLink="/civil-service-eligibility" (click)="setActive('civil-service-eligibility')"
              [class.active]="activeItem === 'civil-service-eligibility'">Civil Service Eligibility</a></li>
            <li><a routerLink="/learning-development" (click)="setActive('learning-development')"
              [class.active]="activeItem === 'learning-development'">Learning Development</a></li>
            <li><a routerLink="/work-experience" (click)="setActive('work-experience')"
              [class.active]="activeItem === 'work-experience'">Work Experience/s</a></li>
            <li><a routerLink="/voluntary-works" (click)="setActive('voluntary-works')"
              [class.active]="activeItem === 'voluntary-works'">Voluntary Work/s</a></li>
            <li><a routerLink="/other-information" (click)="setActive('other-information')"
              [class.active]="activeItem === 'other-information'">Other Information</a></li>
          </ul>
        </li>

        <!-- Spacer div -->
    <div class="flex-grow"></div>

        <!-- Bottom Sidebar content -->
    <li>
      <a id="settings" class="sidebar-link" routerLink="/settings" (click)="setActive('settings')"
      [class.active]="activeItem === 'settings'"><i class="fas fa-cog mr-3"></i>Settings</a>
    </li>

    <li>
        <a id="logout" class="sidebar-link" (click)="logout()">
          <i class="fas fa-sign-out-alt mr-3"></i>Logout</a>
    </li>
</ul>
