<div class="container bg-base-200 rounded-lg shadow-lg p-0 mx-auto max-w-6xl mb-10">
  <div class="bg-maroon text-white p-4 rounded-t-lg w-full">
    <h1 class="text-2xl font-bold">Work Experiences</h1>
  </div>

  <ng-container *ngIf="!isEditing; else editForm">
    <div *ngIf="workExperienceData.length > 0" class="p-6 space-y-6">
      <div class="overflow-x-auto">
        <table class="table table-zebra w-full border-separate border-spacing-0">
          <thead>
            <tr class="bg-red-900 text-white">
              <th class="p-4">#</th>
              <th class="p-4">Inclusive Dates From</th>
              <th class="p-4">Inclusive Dates To</th>
              <th class="p-4">Position Title</th>
              <th class="p-4">Department/Agency/Office/Company</th>
              <th class="p-4">Monthly Salary</th>
              <th class="p-4">Salary/Job/Pay Grade</th>
              <th class="p-4">Status of Appointment</th>
              <th class="p-4">Govt Service</th>
              <th class="p-4 w-36">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let experience of workExperienceData; let i = index">
              <th class="p-4">{{ i + 1 }}</th>
              <td class="p-4">{{ experience.InclusiveDatesFrom | date }}</td>
              <td class="p-4">{{ experience.InclusiveDatesTo | date }}</td>
              <td class="p-4">{{ experience.PositionTitle }}</td>
              <td class="p-4">{{ experience.DepartmentAgencyOfficeCompany }}</td>
              <td class="p-4">{{ experience.MonthlySalary }}</td>
              <td class="p-4">{{ experience.SalaryJobPayGrade }}</td>
              <td class="p-4">{{ experience.StatusOfAppointment }}</td>
              <td class="p-4">{{ experience.GovtService ? 'Yes' : 'No' }}</td>
              <td class="p-4">
                <button (click)="editExperience(experience.WorkExperienceID!)" class="btn btn-sm btn-primary">Edit</button>
                <button (click)="deleteExperience(experience.WorkExperienceID!)" class="btn btn-sm btn-error">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="workExperienceData.length === 0" class="p-6 space-y-6">
      <div class="p-6 bg-white rounded-lg shadow-lg">
        <p class="text-lg">No work experience information available.</p>
      </div>
      <div class="flex justify-end">
        <button class="btn bg-black text-white" (click)="addNewExperience()">Add Info</button>
      </div>
    </div>
  </ng-container>

  <ng-template #editForm>
    <div class="p-6">
      <form [formGroup]="workExperienceForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <div class="grid grid-cols-2 gap-6">
          <div class="form-control w-full">
            <label for="InclusiveDatesFrom" class="label-text font-bold text-lg">Inclusive Dates From</label>
            <input id="InclusiveDatesFrom" formControlName="InclusiveDatesFrom" class="input input-bordered w-full" type="date">
          </div>
          <div class="form-control w-full">
            <label for="InclusiveDatesTo" class="label-text font-bold text-lg">Inclusive Dates To</label>
            <input id="InclusiveDatesTo" formControlName="InclusiveDatesTo" class="input input-bordered w-full" type="date">
          </div>
          <div class="form-control w-full">
            <label for="PositionTitle" class="label-text font-bold text-lg">Position Title</label>
            <input id="PositionTitle" formControlName="PositionTitle" class="input input-bordered w-full">
          </div>
          <div class="form-control w-full">
            <label for="DepartmentAgencyOfficeCompany" class="label-text font-bold text-lg">Department/Agency/Office/Company</label>
            <input id="DepartmentAgencyOfficeCompany" formControlName="DepartmentAgencyOfficeCompany" class="input input-bordered w-full">
          </div>
          <div class="form-control w-full">
            <label for="MonthlySalary" class="label-text font-bold text-lg">Monthly Salary</label>
            <input id="MonthlySalary" formControlName="MonthlySalary" class="input input-bordered w-full" type="number">
          </div>
          <div class="form-control w-full">
            <label for="SalaryJobPayGrade" class="label-text font-bold text-lg">Salary/Job/Pay Grade</label>
            <input id="SalaryJobPayGrade" formControlName="SalaryJobPayGrade" class="input input-bordered w-full">
          </div>
          <div class="form-control w-full">
            <label for="StatusOfAppointment" class="label-text font-bold text-lg">Status of Appointment</label>
            <input id="StatusOfAppointment" formControlName="StatusOfAppointment" class="input input-bordered w-full">
          </div>
          <div class="form-control w-full">
            <label for="GovtService" class="label-text font-bold text-lg">Government Service</label>
            <input id="GovtService" formControlName="GovtService" class="input input-bordered w-full" type="checkbox">
          </div>
        </div>
        <div class="flex justify-end mt-6">
          <button type="submit" class="btn bg-black text-white mr-4">{{ currentExperienceId ? 'Update' : 'Add' }}</button>
          <button type="button" class="btn bg-gray-600 text-white" (click)="resetForm()">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
