<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<div class="overflow-x-auto px-10">
  <div class="flex-1 mb-2">
    <a class="text-lg font-normal">You are currently viewing the lists of Employees.</a>
  </div>
  <table class="table table-zebra w-full border-separate border-spacing-0">
    <!-- head -->
    <thead>
      <tr class="bg-red-900 text-white">
        <th class="p-4">#</th>
        <th class="p-4">Fcode</th>
        <th class="p-4">Name</th>
        <th class="p-4">Instructor Status</th>
        <th class="p-4">Department</th>
        <th class="p-4">Employment Type</th>
        <th class="p-4 w-36">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th class="p-4">{{ i + 1 }}</th>
        <td class="p-4">{{ user.Fcode }}</td>
        <td class="p-4">{{ user.Name }}</td>
        <td class="p-4">{{ user.InstructorStatus }}</td>
        <td class="p-4">{{ user.Department }}</td>
        <td class="p-4">{{ user.EmploymentType }}</td>
        <td class="p-4">
          <button class="btn btn-primary btn-sm" (click)="openModal(user)">View Info</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isModalOpen" class="modal modal-open">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Basic Details</h3>
    <div *ngIf="basicDetails !== null; else noInfo">
      <p class="py-2"><strong>Employee No:</strong> {{ basicDetails?.EmployeeNo }}</p>
      <p class="py-2"><strong>Faculty Code:</strong> {{ basicDetails?.FacultyCode }}</p>
      <p class="py-2"><strong>Name:</strong> {{ basicDetails?.Honorific }} {{ basicDetails?.FirstName }} {{ basicDetails?.MiddleInitial }} {{ basicDetails?.LastName }} {{ basicDetails?.NameExtension }}</p>
      <p class="py-2"><strong>Date of Birth:</strong> {{ basicDetails?.DateOfBirth | date:'longDate' }}</p>
      <p class="py-2"><strong>Sex:</strong> {{ basicDetails?.Sex }}</p>
    </div>
    <ng-template #noInfo>
      <p class="py-2 text-red-600">Information not yet inputted.</p>
    </ng-template>
    <div class="modal-action">
      <button class="btn" (click)="closeModal()">Close</button>
    </div>
  </div>
</div>



