<div class="overflow-x-auto px-10">
  <div class="flex-1 mb-2">
    <a class="text-lg font-normal">You are currently viewing the lists of Employees.</a>
  </div>
  <table class="table table-zebra w-full border-separate border-spacing-0">
    <!-- head -->
    <thead>
      <tr class="bg-red-900 text-white">
        <th class="p-4">#</th>
        <th class="p-4">Fcode</th>
        <th class="p-4">Name</th>
        <th class="p-4">Instructor Status</th>
        <th class="p-4">Department</th>
        <th class="p-4 w-36">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th class="p-4">{{ i + 1 }}</th>
        <td class="p-4">{{ user.Fcode }}</td>
        <td class="p-4">{{ user.Name }}</td>
        <td class="p-4">{{ user.InstructorStatus }}</td>
        <td class="p-4">{{ user.Department }}</td>
        <td class="p-4">
          <button class="btn btn-primary btn-sm">View Info</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
