<div class="container bg-base-200 rounded-lg shadow-lg p-0 mx-auto max-w-6xl mb-10">
  <div class="bg-maroon text-white p-4 rounded-t-lg w-full">
    <h1 class="text-2xl font-bold">User Management</h1>
  </div>

  <div class="p-6 space-y-6">
    <div *ngIf="users.length > 0" class="overflow-x-auto px-10">
      <table class="table table-zebra w-full border-separate border-spacing-0">
        <thead>
          <tr class="bg-maroon text-white">
            <th class="p-4">#</th>
            <th class="p-4">Name</th>
            <th class="p-4">Employment Type</th>
            <th class="p-4">Roles</th>
            <th class="p-4 w-36">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index" class="hover:bg-gray-100">
            <td class="p-4 text-center">{{ i + 1 }}</td>
            <td class="p-4">{{ user.FirstName }} {{ user.Surname }}</td>
            <td class="p-4">
              <select class="select select-bordered select-sm w-full max-w-xs" [(ngModel)]="user.EmploymentType">
                <option value="fulltime">Fulltime</option>
                <option value="parttime">Part-time</option>
                <option value="temporary">Temporary</option>
                <option value="designee">Designee</option>
              </select>
            </td>
            <td class="p-4">
              <div class="flex flex-col">
                <div class="mb-2">
                  <div *ngFor="let role of getAdminRoles()">
                    <label class="cursor-pointer">
                      <input type="checkbox" class="checkbox checkbox-primary" [checked]="isUserRoleSelected(user, role.RoleID)" (change)="toggleUserRole(user, role.RoleID)" />
                      <span class="ml-2 uppercase font-bold">{{ role.RoleName }}</span>
                    </label>
                  </div>
                </div>
                <div class="border-t border-gray-300 my-2"></div>
                <div>
                  <div *ngFor="let role of getNonAdminRoles()">
                    <label class="cursor-pointer">
                      <input type="checkbox" class="checkbox checkbox-primary" [checked]="isUserRoleSelected(user, role.RoleID)" (change)="toggleUserRole(user, role.RoleID)" />
                      <span class="ml-2 uppercase font-bold">{{ role.RoleName }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
            <td class="p-4 flex justify-center space-x-2">
              <button class="btn btn-edit btn-sm" (click)="saveUserDetails(user)">Save</button>
              <button class="btn btn-delete btn-sm" (click)="deleteUser(user.UserID)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="users.length === 0" class="p-6 space-y-6">
      <div class="p-6 bg-white rounded-lg shadow-lg">
        <p class="text-lg">No users found.</p>
      </div>
    </div>
  </div>
</div>
